<ion-view class="background" title="个人中心">
    <ion-content>
        <!-- 账户信息-->
        <div class="it-account">
            <img ng-src="img/ionic.png" class="it-avatar"/>
            <div class="it-username">
                <div>用户的昵称</div>
                <div>钻石会员</div>
            </div>
            <div class="it-manage">
                <div>账户管理</div>
            </div>
        </div>
        <div class="row row-no-padding it-order">
            <div class="col-20">待付款</div>
            <div class="col-20">待收货</div>
            <div class="col-20">待评价</div>
            <div class="col-20">返修／退换</div>
            <div class="col-20">我的订单</div>
        </div>
        <div>

        </div>
        <div>

        </div>
    </ion-content>
</ion-view>